body, ul, li, p{
    margin: 0px;
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

a :visited{
    color: none;
    text-decoration: none;
}

/* Barra de rolagem */

::-webkit-scrollbar{
    width: 12px;
    border-radius: 20px;
    background-color: rgb(32, 32, 32);
}

::-webkit-scrollbar-thumb{
    width: 10px;
    border-radius: 20px;
    background-color: rgb(224, 224, 224);
    border: 2px solid black;
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(167, 167, 167);
}

/* Cabeçalho */

.logo {
    font-size: 16px;
    letter-spacing: 1px;
    margin: 20px;
    padding-top: 10px;
}

.logo img{
    width: 230px;
    height: 230px;
}
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #23232e;
    height: 8vh;
}
  
  .nav-list {
    list-style: none;
    display: flex;
    margin: 20px;
}
  
  .nav-list li {
    letter-spacing: 0px;
    margin-left: 32px;
}
  
  .mobile-menu {
    display: none;
    cursor: pointer;
}
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}
  
@media (max-width: 700px) {
    .logo img{
        width: 150px;
        height: 150px;
}
    body {
      overflow-x: hidden;
}
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 60vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateY(100%);
      transition: transform 0.3s ease-in;
      margin: 0;
      opacity: 0%;
}
    .nav-list li {
      margin-left: 0;
      opacity: 0;
}
    .mobile-menu {
      display: block;
    }
}
  
  .nav-list.active {
    transform: translateX(0);
    opacity: 100%;
}
  
@keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
  
  .mobile-menu.active .line2 {
    opacity: 0;
}
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

.logo {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.logo h1{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-weight: normal;
}

.logo h2{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-weight: normal;
}

.nav-list li a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.titulo{
    text-align: center;
}

/* Rodapé */
.rodape{
    background-color: #1d1e20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    color: white;
    font-size: 15px;
}

.rodape footer{
    margin: center;
}

.rodape p{
    font-size: 8px;
    color: whitesmoke
}

.rodape p{
    font-size: 8px;
    color: whitesmoke
  }
  
  @media (max-width: 700px) {
    .rodape{
      flex-direction: column;
    }
    .rodape p{
        font-size: 11px;
        color: whitesmoke;
        padding-top: 5px;
    }
    .rodape div{
      padding-top: 200px;
    }
}

/* Pagina principal Notícias */

.img{
    max-width: 100%;
    max-height: 100%;

}

.grid1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 900px;
    padding: 20px;
    margin: auto;
    grid-gap: 50px;
    margin: center;
    padding-right: 2%;
    
}

.grid1 > div:nth-child(n + 0):hover{
    width: 101%;
}

.grid1 p{
    text-align:justify;
    width: 100%;
    padding-right: 10px;
    padding-left: 5px;
    /* Limite de caracteres */
    overflow: hidden; /* Removendo barra de rolagem */
    text-overflow: ellipsis; /* Adicionando "..." ao final */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Quantidade de linhas */
    -webkit-box-orient: vertical;
}

.grid1 a{
    text-decoration: none;
    color: black;
}

.quadro{
    background-color: whitesmoke;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
}

.quadro .img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: solid 0.01px rgb(194, 194, 194);
}

.grid1 > div:nth-child(n + 4){
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
}

.grid1 > div.anuncio{
    width: 92%;
    display: block;
    grid-column: 1;
    grid-row: 2 / 5;
    margin-top: 0;
    margin-left: auto;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 10px;
    max-height: 300;
}

.anuncio .img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: solid 0.01px rgb(194, 194, 194);
}

.anuncio p{
    box-sizing: border-box;
}

@media (max-width: 700px) {
    .grid1{
        grid-template-columns: 1fr 1fr;
        margin-top: 20px;
        margin-right: 5%;
        margin-left: 0%;
    }
    .grid1 > div:nth-child(n + 4){
        display: block;
        margin-left: auto;
    }
    .grid1 p {
        -webkit-line-clamp: 5; /* Quantidade de linhas */
    }
    .grid1 > div.anuncio{
        grid-column: auto;
        grid-row: auto;
        margin-top: auto;
        padding: 15px;
    }
    .anuncio .img{
        width: 100%;
        height: 100%;
        border-radius: 20px;
        max-height: 200px;
        border: solid 0.01px rgb(194, 194, 194);
    }
}

/* Pagina principal Entreterimento */

.grid2 {
    display: grid;
    grid-template-columns: 1fr 350px;
    grid-gap: 50px;
    max-width: 800px;
    padding: 10px;
    padding-bottom: 100px;
    margin: auto;
  }

.grid2 > div:nth-child(n + 0):hover{
    width: 101%;
}

.grid2 p{
    text-align:justify;
    width: 100%;
    padding: 5px;
    border-radius: 20px;
    /* Limite de caracteres */
    overflow: hidden; /* Removendo barra de rolagem */
    text-overflow: ellipsis; /* Adicionando "..." ao final */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Quantidade de linhas */
    -webkit-box-orient: vertical;
}

.grid2 > div{
    border-radius: 20px;
}

.sidebar p{
    box-sizing: border-box;
    background-color: whitesmoke;
    text-align:justify;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
}

.sidebar > div {
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: whitesmoke;
    max-height: 400px;
    width: 100%;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
}

.sidebar .img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: solid 0.01px rgb(194, 194, 194);
    min-height: 30px;
    min-width: 300px;
    width: 100%;
    height: 100%;
    margin: 5px;
}

.sidebar a {
    text-decoration: none;
    color: black;
}

.sidebar a :visited{
    color: black;
}

.grid2 a{
    text-decoration: none;
    color: black;
}

.grid2 a :visited{
    color: black;
}

  
  @media (max-width: 700px) {
    .grid2 {
      grid-template-columns: 1fr;
      margin-left: 5%;
      margin-right: 5%;
    }
    .grid2 p{
        -webkit-line-clamp: 5; /* Quantidade de linhas */
    }
    .sidebar {
      display: flex;
      overflow: scroll;
    }
    .sidebar > div {
        box-sizing: border-box;
        margin-bottom: 10px;
        background-color: whitesmoke;
        max-height: 400px;
        width: 100%;
        padding: 10px;
        border-radius: 20px;
    }
}
  


/* Noticias */

.noticias{
    box-sizing: border-box;
    background-color: whitesmoke;
    width: 60%;
    margin-left: 21%;
    border-left: 1px solid rgb(224, 224, 224);
    border-right: 1px solid rgb(224, 224, 224);
    padding: 1%;
    text-decoration: none;
    color: black;
    padding: 2%;
    padding-bottom: 10%;
}


.noticias h1{
    color: rgb(70, 70, 70);
    font-size: 25px; 
}

.noticias h2{
    color: rgb(70, 70, 70);
    font-size: 12px;
    font-weight: normal;
    text-align: left;
}

.noticias h3{
    color: rgb(70, 70, 70);
    font-size: 20px;
    font-weight: normal;
    text-align: justify;
    padding: 5px;
    
}

.noticias h4{
    color: black;
    font-size:12px;
    font-weight: normal;
    padding: 20px;
    text-align: center;
}

.noticias h5{
    font-weight: bold;
    font-size: 25px;
    color: rgb(26, 26, 26);
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 25px;
    margin-right: 25px;
}

.noticias h6{
    text-align: right;
    font-weight: normal;
    color: rgb(70, 70, 70);
    font-size: 18;
    padding: 30px;
}

.noticias p{
    color: rgb(26, 26, 26);
    font-size: 20px;
    font-weight: normal;
    word-wrap:break-word;
    padding-left: 20px;
    padding-right: 20px;
    text-align:justify;
    text-indent: 20px;
    padding: 25px;
}

.noticias hr{
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (max-width: 700px) {
    .noticias{
        box-sizing: normal;
        background-color: whitesmoke;
        width: 100%;
        margin-left: 0;
        border-left: 1px solid rgb(224, 224, 224);
        border-right: 1px solid rgb(224, 224, 224);
        padding: 1%;
        text-decoration: none;
        color: black;
        padding: 2%;
        padding-bottom: 10%;
    }

    .noticias .img{
        box-sizing: border-box;
        max-width: 360px;
        margin-bottom: 20px;
    }
    
}

.noticias hr{
    opacity: 30%;
}

/* Listas na pagina de noticia */

.noticias ul{
    box-sizing: border-box;
    border-top: 2px solid green;
    border-bottom: 2px solid green;
    background-color: rgb(230, 230, 230);
    margin-left: 25px;
    margin-right: 15px;
    margin-top: 5px;
    padding: 10px;
}

.noticias li{
    padding: 5px;
}


.noticias .img{
    border-radius: 20px;
    border: solid 0.01px rgb(194, 194, 194);
    margin: auto;
    display: block;
}

/* Noticias Gerais */

.pesquisa{
    box-sizing: border-box;
    background-color: whitesmoke;
    width: 60%;
    margin-left: 21%;
    border-left: 1px solid rgb(224, 224, 224);
    border-right: 1px solid rgb(224, 224, 224);
    text-decoration: none;
    color: black;
    padding-bottom: 600px;
}

.pesquisabox{
    border: 1px solid rgb(224, 224, 224);
    padding: 1%;
    margin: 15px;
}

.pesquisa h1{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    font-weight: normal;
    color: rgb(49, 49, 49);
    margin: 0px;
    /* Limite de caracteres */
    overflow: hidden; /* Removendo barra de rolagem */
    text-overflow: ellipsis; /* Adicionando "..." ao final */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Quantidade de linhas */
    -webkit-box-orient: vertical;
}

.pesquisa h2{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    font-weight: normal;
    text-align: left;
    color: rgb(49, 49, 49);
    margin: 0px;
    padding-bottom: 0px;
}

.pesquisa > div:hover{
    background-color: rgb(185, 185, 185);
}

.pesquisa a{
    padding: 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: rgb(49, 49, 49);
}

.pesquisa a:visited{
    color: rgb(49, 49, 49);
}

@media (max-width: 700px) {
    .pesquisa{
        box-sizing: normal;
        background-color: whitesmoke;
        width: 100%;
        margin-left: 0;
        border-left: 1px solid rgb(224, 224, 224);
        border-right: 1px solid rgb(224, 224, 224);
        padding: 1%;
        text-decoration: none;
        color: black;
        padding: 2%;
        padding-bottom: 600px;
    }
    
}

/* Imagens em listas Teste*/ 

.lbox {
    box-sizing: border-box;
    grid-template-columns: 1fr;
  }

.images {
    display: flex;
    overflow: scroll;
}

.images .img{
    box-sizing: border-box;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: solid 0.01px rgb(194, 194, 194);
    min-height: 300px;
    min-width: 1050px;
    width: 100%;
    height: 100%;
}

@media (max-width: 700px) {
    .images .img{
        box-sizing: border-box;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border: solid 0.01px rgb(194, 194, 194);
        min-height: 320px;
        min-width: 568px;
        width: 100%;
        height: 100%;
    }
}